body {
  background: -webkit-linear-gradient(to right,
      #0b8793,
      #090368);

  background: linear-gradient(to right,
      #0b8793,
      #090368);
  /* background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */


  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  height: 100px;
}

.githubIcon {
  height: 25px;
}

.whatsappIcon {
  height: 25px;
}

.footerContainer {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  width: 100%;
}